@charset "utf-8";
@import url('font.css');

/* ************************************************************
 	reset
************************************************************ */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
main, article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent; 
}

body {font:normal 14px/1.0 NanumGothic, 나눔고딕, Dotum, 돋움, Arial; color:#999;}
ul, ol {list-style-type:none;}
strong {font-weight:600;}
a,
a:hover { font-family:NanumGothic, 나눔고딕, Dotum, 돋움, Arial; text-decoration:none;}
button {padding:0; margin:0; font-family:NanumGothic, 나눔고딕, Dotum, 돋움, Arial; border:0 none; background-color:transparent;}

/* form */
legend {width:0; height:0; font-size:0; line-height:0; visibility:hidden; overflow:hidden;}
input,
select,
textarea {font:normal 14px/1.0 NanumGothic, 나눔고딕, Dotum, 돋움, Arial; color:#999; vertical-align:middle;}
input[type=image],
input[type=radio],
input[type=checkbox] {margin:0; padding:0; border:0 !important;}

/* etc */
img { display:inline-block; }
sub, sup { line-height:0;}

table { width:100%; border-collapse:collapse; border-spacing:0; }
table caption { display:none; }

.bold { font-weight:bold !important; }
.align_l { text-align:left !important; }
.align_c { text-align:center !important; }
.align_r { text-align:right !important; }
.hidden { display:none; }

/* skip_nav */
.skip_nav {position:absolute; top:0; left:0; width:100%; z-index:9999;}
.skip_nav a {display:block; margin:-1px; width:1px; height:1px; font-size:0; text-align:center;}
.skip_nav a:hover,
.skip_nav a:active,
.skip_nav a:focus {padding:10px 0; width:100%; height:15px; font-size:12px; color:#26aa39; background:#fff; z-index:9999; /*border-bottom:1px solid #26aa39;*/}

/* popup */
.posi { position:relative !important; }
.bg_layer { display:none; position:fixed; top:0; left:0; z-index:3000; width:100%; height:100%; background:#333; opacity:0.6; }


/* ************************************************************
 	layout
************************************************************ */
.inner { margin:0 auto; }

header { height:88px; border-bottom:1px solid #26ab3b; }
header .inner { position:relative; }    
header .logo { position:absolute; top:28px; left:40px; }
header nav { padding-top:35px; padding-left:28%; }
header nav a:first-child { margin-left:0px; }
header nav a { display:inline-block; margin-left:38px; font-size:16px; font-weight:bold; color:#000; }
header .utill { position:absolute; top:25px; right:40px; }
header .utill a { display:inline-block; margin-left:14px; font-size:12px; color:#585858; }
header .utill span { margin:-13px 0 0 40px; }
header .utill span button { display:inline-block; width:36px; height:36px; text-align:center; border:1px solid #a6adb7; border-radius:100%; }
	header .utill span button:first-child { margin-right:5px; background-color:#909ba7; }
header .utill span button * { vertical-align:middle;  }

.notice_area { display:none; }

.visual .left_txt,
.visual .right_visu { height:640px; }
.visual .left_txt { float:left; width:60%; background-color:#f7f7f7; }
	.left_txt h1 { font-size:60px; font-weight:bold; color:#000; } 
	.left_txt .inner_txt { float:right; margin:122px 25% 0 0; width:45%; min-width:335px; } 
.visual .right_visu { float:right; width:40%; background:url('../images/main/bg_highlight.jpg') no-repeat; background-size:cover; }
